<div class="header-top">
    <div class="page-title">
        <h1 id="header-title">Title</h1>

    </div>
    <div class="header-right">
        <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Objects/Bell.png" class="icon-3d icon-btn" alt="Notif">
        <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Symbols/Question%20Mark.png" class="icon-3d icon-btn" alt="Help">
        <div class="header-admin">
            <div class="header-admin-text">
                <h4 id="profileNameHeader">Admin Ventura</h4>
                <p id="profileRoleHeader">Super Admin</p>
            </div>
            <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?w=100&auto=format&fit=crop" alt="Admin">
        </div>
    </div>
</div>
